@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

span {
  color: #01a2a6;
}

.bg-wrapper {
    background: url("../img/bg1.png") no-repeat center top / cover;
    height: 100vh;
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
}

// navigation block

.menu {
  &_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    .text-change (22px, regular, @text-color1, @font-family3);
    margin: 50px 0 50px 15px;

    @media (max-width: 1250px) {
      margin-left: 30px;
    }

    @media (max-width: 768px) {
      margin: 40px 0 40px 30px;
    }
  }

  // СКРЫТОЕ МЕНЮ
  .checkbox {
    display: none;
  }

  label.toggleMenu {
    .text-change (21px, regular, @text-color1, @font-family1);
    cursor: pointer;
    padding-left: 21px;
    display: block;
    margin-top: 41px;
    margin-right: 30px;
    margin-bottom: 10px;

    @media (min-width: 721px) {
      display: none;
    }
  }

  .fa {
    margin-right: 5px;
    color: @text-color1;
  }

  .wrapper-mobile {
    position: relative;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 45px;
    position: relative;

    @media (max-width: 1250px) {
      &:last-child {
        margin-right: 30px;
      }
    }

    @media (max-width: 768px) {
      margin-top: 33px;
    }

    @media (max-width: 720px) {
      flex-direction: column;
      margin-top: 10px;
      position: absolute;
      right: -10px;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    .text-change (14px, regular, @text-color1, @font-family1);
    text-decoration: none;
    padding: 14px 22px;
    display: block;
    margin-left: 5px;
    text-align: center;

    @media (max-width: 720px) {
      .text-change (14px, regular, #10273d, @font-family1);
      background-color: #fff;
      border-radius: 30px;
      margin-bottom: 10px;
      padding: 17px 20px;
      box-sizing: border-box;
      border: 1px solid #01a2a6;
    }
  }

  &__element:hover .menu__link {
    border: 3px solid #fff;
    border-radius: 30px;
    padding: 11px 19px;
  }

  // отображение скрытого списка
  ul {
    @media (max-width: 720px) {
      display: none;
    }
  }

  input.toggleMenu:checked ~ ul {
    @media (max-width: 720px) {
      display: block;
    }
  }
}


// header block

.header {
  // заголовок
  &__title {
    .text-change (80px, regular, @text-color1, @font-family2);
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;

    @media screen and (max-width: 768px) {
      margin-left: 35px;
      margin-right: 35px;
      margin-top: 80px;
    }

    @media screen and (max-width: 541px) {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 364px) {
      margin-top: -15px;
    }
  }

  // описание
  &__desc {
    .text-change (18px, regular, @text-color1, @font-family1);
    text-align: center;
    line-height: 1.8em;
    margin-bottom: 50px;

    @media screen and (max-width: 768px) {
      margin-left: 25px;
      margin-right: 25px;
    }

    @media screen and (max-width: 398px) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 364px) {
      font-size: 16px;
    }
  }

  // кнопка
  &__button {
    .text-change (18px, regular, #10273d, @font-family1);
    background-color: @btn-form-color;
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 30px 40px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: @text-color2;
      color: white;
    }

    @media (max-width: 364px) {
      padding: 24px 32px;
      margin-bottom: 15px;
    }
  }
}

//
// about
// City Of Love
//

.opacity_block {
  height: 45px;
  max-width: 1230px;
  margin: 0 auto;
  margin-top: -45px;
  background-color: #fff;
  opacity: 0.9;
  //border-top-left-radius: 7px;
  //border-top-right-radius: 7px;
}

.about {
  .wrapper {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  &__img-wrapper {
    margin-left: 5%;
    margin-top: 75px;
    margin-bottom: 5%;
    width: 50%;
  }


  &__img {
    margin-left: 5%;
    margin-top: 80px;
    margin-bottom: 5%;
    width: 50%;
    height: 100%;

    @media (max-width: 1024px) {
      margin-top: 100px;
    }

    @media (max-width: 917px) {
      margin-top: 160px;
    }

    @media (max-width: 768px) {
      width: 70%;
      margin: 40px auto 0;
    }
  }

  &__main {
    margin: 0 5%;
    width: 50%;

    @media (max-width: 768px) {
      width: 70%;
      margin: 0 auto;
    }
  }

  &__title {
    .text-change (60px, regular, #29d9c2, @font-family1);
    margin-top: 110px;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      margin-top: 80px;
      text-align: center;
    }

    @media (max-width: 475px) {
      font-size: 13vw;
    }
  }

  &__desc {
    .text-change (16px, regular, @text-color-main, @font-family1);
    line-height: 35px;

    @media (max-width: 768px) {
      text-align: center;
    }
  }
}


//
// destination block
//

.destination {
  &_title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 50%;
    margin-left: 10%;

    @media (max-width: 740px) {
      max-width: 70%;
      margin: 0 auto;
    }
  }

  &__name {
    .text-change (60px, regular, #29d9c2, @font-family1);
    margin-top: 90px;

    @media (max-width: 740px) {
      text-align: center;
    }

    @media (max-width: 475px) {
      font-size: 13vw;
    }
  }

  &__link {
    .text-change (16px, regular, #aeaeae, @font-family1);
    text-decoration: none;
    margin-top: 120px;
    position: relative;
    margin-right: 10%;
    height: 25px;

    &::before {
      content: url(/img/info-icon.png);
      position: absolute;
      top: 1px;
      left: -25px;
    }

    @media (max-width: 740px) {
      display: none;
    }
  }

  &__desc {
    .text-change (16px, regular, @text-color-main, @font-family1);
    line-height: 35px;
    margin-top: 30px;

    @media (max-width: 740px) {
      text-align: center;
    }
  }

  &_search-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    @media (max-width: 740px) {
      flex-direction: column;
    }
  }

  &__search {
    position: relative;
    .text-change (14px, regular, #b5b5b5, @font-family1);
    margin-left: 10%;
    border: 1px solid #b5b5b5;
    outline: none;
    border-radius: 18px;
    height: 37px;
    width: 236px;
    padding-left: 42px;
    font-style: italic;
    &::-webkit-input-placeholder {color:#b5b5b5;}
    &::-moz-placeholder          {color:#b5b5b5;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#b5b5b5;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#b5b5b5;}
    background: url(../img/search-icon.png) no-repeat;
    background-position: 14px 8.5px;

    @media (max-width: 740px) {
      margin: -30px auto 30px;
    }
  }

  &__choose {
    display: flex;
    margin-right: 10%;
    text-transform: uppercase;
    padding-top: 8px;

    span {
      .text-change (16px, regular, #b5b5b5, @font-family1);
      display: inline-block;
    }

    @media (max-width: 740px) {
      margin: 0 auto;
    }
  }

  &__choose-link {
    .text-change (16px, regular, #b5b5b5, @font-family1);
    text-decoration: none;

    &:hover {
      font-weight: bold;
      color: @text-color-main;
    }

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}

// destination -> batu

.batu {
  background: url("../img/batu-bg-jpg.jpg") no-repeat center top / cover;
  height: 516px;
  margin: 60px 7% 0;
  display: flex;
  justify-content: flex-end;
  
  &__desc {
    width: 470px;
    height: 100%;
    background: rgba(244, 249, 252, 0.95);
    position: relative;
    //border: 1px solid black;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-right: 15px solid rgba(244, 249, 252, 0.95);
      border-bottom: 15px solid transparent;
      left: -15px;
      top: 50%;

      @media (max-width: 665px) {
        display: none;
      }
    }
  }

  //

  &__wheel {
    margin-top: 50px;
    margin-left: 35px;
  }

  &__title {
    .text-change (30px, 300, @text-color3, @font-family1);
    margin-left: 35px;
    margin-top: 30px;
  }

  &__text {
    .text-change (16px, regular, @text-color-main, @font-family1);
    line-height: 35px;
    margin-left: 37px;
    margin-right: 55px;
    margin-top: 5px;

    @media (max-width: 433px) {
      margin-right: 35px;
    }

    @media (max-width: 409px) {
      font-size: 13px;
    }

    @media (max-width: 346px) {
      font-size: 11px;
    }
  }
}

// стрелка "увидеть больше"

.see-more {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  height: 30px;
  margin-top: 470px;
  margin-right: 15px;
  transition: all 0.3s;

  &:hover {
    margin-right: 25px;
  }

  &__text {
    .text-change (16px, bold, #f6f6f6, @font-family1);
    margin-right: 10px;
  }

  .fa-arrow-right {
    color: #f6f6f6;
  }

  @media (max-width: 665px) {
    display: none;
  }
}

// bromo & ship blocks

.bromo_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 60px;

  @media (max-width: 825px) {
    flex-direction: column;
    align-items: center;
  }
}

.bromo {
  width: 53%;
  height: 360px;
  background: url("../img/bromo-bg.png") center center / cover;
  margin-right: 30px;
  position: relative;

  @media (max-width: 825px) {
    width: 80%;
    margin-right: 0;
  }

  &__info {
    width: 315px;
    height: 100%;
    background: rgba(244, 249, 252, 0.95);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-left: 10px solid rgba(244, 249, 252, 0.95);
      border-bottom: 13px solid transparent;
      left: 100%;
      top: 50%;
    }
  }

  &__icon {
    margin-top: 40px;
    margin-left: 30px;
  }

  &__title {
    .text-change (30px, 300, @text-color3, @font-family1);
    margin-left: 27px;
    margin-top: 10px;
  }

  &__desc {
    .text-change (14px, regular, @text-color-main, @font-family1);
    line-height: 35px;
    margin: 10px 27px 0;
  }

  .see-more {
    margin-top: 0;
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}

.ship {
  width: 35%;
  height: 360px;
  background: url("../img/ship-bg.png") center center / cover;
  position: relative;

  @media (max-width: 825px) {
    width: 80%;
    margin-top: 30px;
  }

  &_wrapper {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  &:hover {
    .ship__icon-wrapper {
      transform: scale(1.2);
    }

    .ship_wrapper {
      background-color: rgba(0,0,0,0.4);
    }
  }

  &__icon-wrapper {
    width: 150px;
    height: 150px;
    background: rgba(244, 249, 252, 0.95);
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.3s;
  }

  &__icon {
    margin-left: 32px;
    margin-top: 30px;
  }

  .see-more {
    margin-top: 0;
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}

.list {
  list-style: none;
  width: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  &__item {
    display: inline-block;
    .text-change (20px, bold, @text-color-main, @font-family2);
    cursor: pointer;
  }

  #batu {
    color: @text-color2;
  }
}

.open {
  display: flex;
}

.close {
  display: none;
}


//
// contact block
//

.contact {
  margin-top: 100px;
  background: url("../img/contact-bg.png") no-repeat center top / cover;
  padding-top: 1px;

  &__title {
    text-align: center;
    .text-change(67px, bold, @text-color1, @font-family1);
    letter-spacing: 1px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  &_wrapper {
    display: flex;
    justify-content: space-around;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__form {
    width: 35%;

    @media (max-width: 768px) {
      width: 70%;
    }
  }

  &__or {
    max-width: 20%;
    text-align: center;
    height: 250px;
    line-height: 250px;
    text-transform: uppercase;
    .text-change(14px, bold, #fff, @font-family3);
    letter-spacing: 1px;

    @media (max-width: 768px) {
      height: auto;
      line-height: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  &__links {
    width: 35%;

    @media (max-width: 768px) {
      width: 70%;
    }
  }

  &__email, &__company, &__subject, &__message {
    border: 1px solid #c7c7c7;
    font-style: italic;
    .text-change(14px, regular, #b9b9b9, @font-family1);
    padding: 20px 25px;
    border-radius: 8px;
    &::-webkit-input-placeholder {color:#b9b9b9;}
    &::-moz-placeholder          {color:#b9b9b9;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#b9b9b9;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#b9b9b9;}
  }

  &__email, &__message {
    width: 100%;
  }

  &__company, &__subject {
    width: 48%;
  }

  &_wrapper2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__btn {
    .text-change(15px, 900, #fff, @font-family1);
    text-transform: uppercase;
    padding: 30px 20px;
    background-color: darken(#b5ed85, 10%);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    margin-bottom: 100px;

    &:hover {
      background-color: darken(#b5ed85, 15%)
    }

    @media (max-width: 768px) {
      margin-bottom: 70px;
    }
  }

  &__links-title {
    .text-change(44px, 300, #fff, @font-family1);
    margin-bottom: 45px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    .text-change(12px, regular, #fff, @font-family1);
    padding-left: 35px;
    margin-bottom: 15px;
  }
  
  &_name {
    position: relative;
    
    &::before {
      content: url("../img/home-icon.png");
      position: absolute;
      top: 0;
      left: 13px;
    }
  }

  &__link {
    .text-change(12px, regular, #f6f376, @font-family1);
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
  }

  &_tel {
    position: relative;

    &::before {
      content: url("../img/user-icon.png");
      position: absolute;
      top: 0;
      left: 13px;
    }
  }
}

//
// subscription block
//

.subscr {
  background: url("../img/subscr-bg.png") no-repeat center center / cover;
  border-bottom: 1px solid #aad769;

  .wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 830px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__name {
    margin-left: 5%;

    @media (max-width: 830px) {
      margin-left: 0;
    }
  }

  &__title {
    .text-change(67px, 900, #fff, @font-family1);
    margin-top: 65px;
    margin-right: 30px;

    @media (max-width: 830px) {
      text-align: center;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  &__desc {
    .text-change(16px, regular, #fff, @font-family1);
    margin-top: 5px;
    margin-bottom: 70px;

    @media (max-width: 830px) {
      text-align: center;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  &__form {
    height: 70px;
    width: 35%;
    margin-top: 85px;
    margin-right: 5%;
    display: flex;

    @media (max-width: 830px) {
      margin-top: 0;
      margin-right: 0;
      width: 60%;
      margin-bottom: 80px;
    }
  }

  &__email {
    border: none;
    height: 100%;
    width: 85%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 30px;
    .text-change(16px, regular, #b9b9b9, @font-family1);
    font-style: italic;
    position: relative;

    &::-webkit-input-placeholder {color:#b9b9b9;}
    &::-moz-placeholder          {color:#b9b9b9;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#b9b9b9;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#b9b9b9;}
  }

  &__btn {
    width: 15%;
    height: 100%;
    border: none;
    background: #01a2a6 url("../img/subscr-icon.png") no-repeat center center;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

//
// footer
//

.footer {
  height: 255px;
  background: url("../img/footer-bg.png") no-repeat center top / cover;
  color: #fff;

  .wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__menu {
    width: 30%;
  }

  &__list {
    list-style: none;
    display: flex;
    margin-top: 27px;
  }

  &__item {
    margin-right: 10px;
    margin-left: 10px;

    a {
      .text-change(12px, regular, #5d5c5c, @font-family1);
      text-decoration: none;
    }
  }
  
  span {
    color: #5d5c5c;
    margin-top: 1px;
  }

  &__rights {
    display: flex;
    flex-direction: column-reverse;
    height: 245px;
    .text-change(12px, regular, #5d5c5c, @font-family1);
    width: 30%;
    text-align: center;
  }

  &__icons {
    width: 30%;
  }

  &__icon-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-top: 27px;
  }

  &__icon-item {
    margin-left: 10px;
  }
}